/*----------------------------------------
				Etitequetas
-----------------------------------------*/
body{
	background-color: #292C44;
	color: #F0F0F1;
	font-family: 'Lato', sans-serif;
}
div{
	font-size: 16px;
}
#texto_capas{
	background-color: #FFFFFF;
	color: #0F0F0F;
}
/*----------------------------------------
				Clases
-----------------------------------------*/
.quitar_float{
	float: none;
}