/*----------------------------------------
				Etitequetas
-----------------------------------------*/
body{
	background-color: #292C44;
	color: #F0F0F1;
	font-family: 'Lato', sans-serif;
}
div{
	font-size: 16px;
}
[type='tex']{
	background-color: #FFFFFF;
	text-align: center;
	color: #0F0F0F;
	width: 60px;
}
#texto_capas{
	width: 30px;
}
#boton_calcular{
	background-color: #FF5349;
	border-radius: 10px;
	text-align: center;
	font-size: 18px;
	color: #F0F0F1;
}
#respuesta_calcular{
	background-color: #FFFFFF;
	border-radius: 5px;
	text-align: justify;
	font-size: 18px;
	color: #0F0F0F;
	width: 600px;
	height: 8em;
}
/*----------------------------------------
				Clases
-----------------------------------------*/
.quitar_float{
	float: none;
}